In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn import metrics 
from scipy.stats import shapiro

In [33]:
#Sklearn
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

#Statmodels
import statsmodels 
import statsmodels.api as sm

In [7]:
# Membuat path untuk mengidentifikasi letak directory
# Catatan : pastikan path yang anda masukkan sesuai dengan directory data anda.
# Kemungkinan besar path di contoh ini berbeda dengan penyimpanan data anda
path = "D:\TELKOM PWT\Semester 3\Ifrastruktur & Platform Sains Data\Praktikum\IPSD-Assignment\Modul 4"

In [9]:
# Load data
house_prices = pd.read_csv("house_prices.csv", usecols=["LotArea", "TotalBsmtSF", "MSSubClass", "SalePrice"])

# Display 5 data teratas
house_prices.head()

   MSSubClass  LotArea  TotalBsmtSF  SalePrice
0          60     8450          856     208500
1          20     9600         1262     181500
2          60    11250          920     223500
3          70     9550          756     140000
4          60    14260         1145     250000

In [11]:
# Mendapatkan informasi dari data
house_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSSubClass   1460 non-null   int64
 1   LotArea      1460 non-null   int64
 2   TotalBsmtSF  1460 non-null   int64
 3   SalePrice    1460 non-null   int64
dtypes: int64(4)
memory usage: 45.8 KB

In [12]:
# Melakukan analisa deskriptif
house_prices.describe().transpose()

              count           mean           std  ...       50%        75%       max
MSSubClass   1460.0      56.897260     42.300571  ...      50.0      70.00     190.0
LotArea      1460.0   10516.828082   9981.264932  ...    9478.5   11601.50  215245.0
TotalBsmtSF  1460.0    1057.429452    438.705324  ...     991.5    1298.25    6110.0
SalePrice    1460.0  180921.195890  79442.502883  ...  163000.0  214000.00  755000.0

[4 rows x 8 columns]

In [13]:
# Check missing value
house_prices.isna().sum()

MSSubClass     0
LotArea        0
TotalBsmtSF    0
SalePrice      0
dtype: int64

In [14]:
# Cek duplicate
duplicate = house_prices[house_prices.duplicated()]
duplicate

     MSSubClass  LotArea  TotalBsmtSF  SalePrice
193         160     2522          970     130000

In [15]:
# drop duplicate
house_prices.drop_duplicates(inplace=True)

In [16]:
# Cek ukuran data apakah duplicate sudah terhapus
house_prices.shape

(1459, 4)

In [17]:
house_prices.columns

Index(['MSSubClass', 'LotArea', 'TotalBsmtSF', 'SalePrice'], dtype='object')

In [19]:
x = house_prices.drop(columns='LotArea')
y = house_prices['LotArea']

In [20]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [21]:
lr = LinearRegression()
lr.fit(x,y)
y_hat = lr.predict(x)
print('MSE :', mean_squared_error(y, y_hat))
print('R-square :', r2_score(y, y_hat))

MSE : 90291675.49996307
R-square : 0.09329148666442622

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
x_train.shape, x_test.shape

((1167, 3), (292, 3))

In [24]:
lr.fit(x_train, y_train)
y_hat = lr.predict(x_test)
print('MSE :', mean_squared_error(y_test, y_hat))
print('R-square :', r2_score(y_test, y_hat))

MSE : 36261713.673165195
R-square : 0.18764077687790148